body {
	margin: 0;
	padding: 0;
	min-width: 1200x;
	background-color: #ffffff;	
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: rgba(0, 0, 0, 1);
}

.container {
	margin: 0 auto;
	min-width: 1160px;
}

/*   эффекты при наведении и клике   */

 .active-effects__black:hover {
	opacity: 0.6;
	cursor: pointer;
 }
 
  .active-effects__black:active {
	opacity: 0.3;
	cursor: pointer;
 }

/*        HEADER           */

.main-header {
	position: relative;
	margin-top: 40px;	
	width: 1160px;
	height: 186px;	
	background-color: #f7e296;
}

.logo-header {
	position: absolute;
	left: 58px;
	top: -26px;
	font-size: 48px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.logo-header a {
	margin: 0;
	padding: 0;
}

/*   верхняя панель в HEADER   */

.main-header__top__panel {
	display: flex;
	width: 1040px;
	margin: 0 auto;
	padding-top: 40px;
	justify-content: space-between;
}

.main-header__top__panel a {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	height: 30px;
	vertical-align: middle;
}

.main-header__top__panel input,
.main-header__top__panel a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
}

.top-panel__finder {
	width: 440px;
	flex-grow: 4;
}

.top-panel__user {
	width: 225px;	
	flex-grow: 2;
}

.top-panel__compare {
	width: 90px;
	flex-grow: 1;
	text-align: center;
}

.top-panel__cart {
	width: 90px;
	flex-grow: 1;
	text-align: right;
}

.icon {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;	
	margin-right: 15px;
	opacity: 1;
}

.icon-user {	
	width: 13px;
	height: 12px;
	background: #f7e296 url("../img/icon-user.png") no-repeat center center;
}

.icon-compare {	
	width: 10px;
	height: 10px;
	background: #f7e296 url("../img/icon-compare.png") no-repeat center center;
}

.icon-cart {	
	width: 12px;
	height: 12px;
	background: #f7e296 url("../img/icon-cart.png") no-repeat center center;
}

.icon:hover {
	opacity: 0.6;
}

.icon:active {
	opacity: 0.3;
}

/*   форма поиска   */

/*===========   ДОДЕЛАТЬ!!! ===============*/

.header-search-form {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;	
	vertical-align: middle;
}

.header-search-form input {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	height: 45px;
	border: 2px solid red;
	/*border: 2px solid #f7e296;*/
}

.icon-search {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	opacity: 1;
	width: 16px;
	height: 45px;
	background: #f7e296 url("../img/icon-search.png") no-repeat center center;
	border-bottom: 2px solid red;
}

.header-search-form input {	
	outline: none;
	background-color: transparent;
	font-size: 15px;
	line-height: 36px;
}

.header-search-form input[type="text"] {
	/*display: block;*/
	width: 315px;
	padding-left: 13px;
	opacity: 0.6;
}

.header-search-form input[type="text"]:hover {
	opacity: 1;
}

.header-search-form input[type="text"]:focus {
	opacity: 1;
	border-bottom: 2px solid #000000;
}

.header-search-form input[type="text"]:focus .icon-search {
	border-bottom: 2px solid #000000;
}

.header-search-form input[type="text"]:focus .header-search-form input[type="submit"] {
	border: 2px solid #000000;
}

.header-search-form input[type="submit"] {
	width: 80px;
	cursor: pointer;
}

.header-search-form input[type="submit"]:hover {
	background-color: #000000;
	color: rgba(255, 255, 255, 1);
	border: none;
}

.header-search-form input[type="submit"]:active {
	background-color: #000000;
	color: rgba(255, 255, 255, 0.3);
	border: none;
}

/*=================================================================================*/


/*   главное меню в HEADER   */

.main-header__main__nav {
	display: flex;
	width: 1040px;
	margin: 0 auto;
	justify-content: space-between;	
	margin-top: 35px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.main-header__main__nav > div {
	width: 120px;
	flex-grow: 1;
}

.main-header__main__nav > div:first-child {
	width: 220px;
	flex-grow: 7;
}

.main-header__main__nav > div:last-child {
	text-align: right;
}

.main-header__main__nav a {
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
}

.main-header__main__nav > div:first-child {
	position: relative;
}

/*   символ "ПЛЮС" после ссылки "КАТАЛОГ ТОВАРОВ"   */

.main-header__main__nav span::before,
.main-header__main__nav span::after {
	position: absolute;
	content: "";
	width: 16px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.5);
	top: 9px;
	left: 220px;
}

.main-header__main__nav span::after {
	transform: rotate(90deg);
}

/*   выпадающее подменю   */

.main-header__sub__menu {
	display: none;
	position: absolute;
	top: 20px;
	left: -60px;	
	background-color: #f7e296;
	padding-top: 15px;
}

.main-header__sub__menu ul {
	margin: 0;
	padding: 0;
}

.main-header__sub__menu li {
	list-style: none;
}

.main-header__sub__menu a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	text-transform: none;
}

.sub-menu-column-1 {
	width: 200px;
	padding-left: 60px;
	margin-right: 40px;
}

.sub-menu-column-2 {
	width: 160px;
	margin-right: 40px;
}

.sub-menu-column-3 {
	width: 160px;
}

.main-header__main__nav div:first-child:hover .main-header__sub__menu {
	display: flex;
	justify-content: flex-start;
	width: 1160px;
	height: 140px;
}