@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"),
		url("fonts/gilroylight.woff2") format("woff2"),
		url("fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"),
		url("fonts/gilroyextrabold.woff2") format("woff2"),
		url("fonts/gilroyextrabold") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
		url("fonts/opensans.woff2") format("woff2"),
		url("fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"),
		url("fonts/opensanslight.woff2") format("woff2"),
		url("fonts/opensanslight") format("woff");
    font-weight: 300;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200x;
	background-color: #ffffff;	
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: rgba(0, 0, 0, 1);
}

.container {
	margin: 0 auto;
	min-width: 1160px;
}
/*
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
/* ========================= это временно: бегунки в форме диапазона цен ===================*/
.catalog-filter__price-range {
	position: relative;
	width: 200px;
	height: 20px;
}

.price-range__right-marker,
.price-range__left-marker {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	top: 0;
	width: 4px;
	height: 4px;	
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 0 0 #dadada;
}

.price-range__left-marker {	
	left: 0%;
}

.price-range__right-marker {
	left: 100%;
}

.price-range__right-marker:active,
.price-range__left-marker:active,
.price-range__right-marker:focus,
.price-range__left-marker:focus {
	border: 10px solid #ffffff;
}

/*   эффекты при наведении и клике   */

.active-effects__black:hover,
.active-effects__black:focus {
	opacity: 0.6;
	cursor: pointer;
 }
 
  .active-effects__black:active {
	opacity: 0.3;
	cursor: pointer;
 }