@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"),
		url("../fonts/gilroylight.woff2") format("woff2"),
		url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"),
		url("../fonts/gilroyextrabold.woff2") format("woff2"),
		url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
		url("../fonts/opensans.woff2") format("woff2"),
		url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"),
		url("../fonts/opensanslight.woff2") format("woff2"),
		url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: normal;
	font-weight: 800;
	color: #000000;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.container {
	margin: 0 auto;
	width: 1160px;
	padding-left: 20px;
	padding-right: 20px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-link {
	display: block;
	margin: 0;
	padding: 9px 0;
	
	font: inherit;
	color: #000000;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	line-height: 22px;/* в макете величина не указана (стоит "авто"). FireFox считает 23px, а все остальные 22px*/
	
	background-color: transparent;	
	background-image: -webkit-linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);	
	background-image: -o-linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);	
	background-image: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
	border: none;
	
	cursor: pointer;
}

/* ===  эффекты при наведении и клике  === */

.active-effects-black:hover,
.active-effects-black:focus {
	opacity: 0.6;
	cursor: pointer;
 }
 
  .active-effects-black:active {
	opacity: 0.3;
	cursor: pointer;
 }

.active-effects-yellow:hover,
.active-effects-yellow:focus {
	background-image: none;
	background-color: #f0c52e;
}

.active-effects-yellow:active {
	color: rgba(0, 0, 0, 0.3);
	
	background-color: #f0c52e;
}

.active-effects-white:hover,
.active-effects-white:focus {
	opacity: 0.6;
	cursor: pointer;
}

.active-effects-white:active {
	opacity: 0.3;
	cursor: pointer;
}

/* ==========  HEADER  ========== */

.main-header {
	position: relative;
	
	width: 1160px;
	padding-bottom: 51px;
	
	background-image: -webkit-linear-gradient(#ffffff 42px, #f7e296 42px);
	
	background-image: -o-linear-gradient(#ffffff 42px, #f7e296 42px);
	
	background-image: linear-gradient(#ffffff 42px, #f7e296 42px);
}

.main-header ul,
.main-header a {
	margin: 0;
	padding: 0;
}

.main-header ul {
	list-style: none;
}

.logo-header {
	position: absolute;
	left: 60px;
	top: 23px;
}

/* ===  верхнее меню в HEADER  === */

.header-top-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1040px;
	margin: 0 auto;
	padding-top: 78px;
	margin-bottom: 33px;
}

.header-top-panel input,
.header-top-panel a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 1);
}

/* ===  форма "поиск по сайту" в HEADER  === */

.header-search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;
	width: 520px;
	
	font-size: 0;
	line-height: 0;
}

.search-group {	
	background-image: url("../img/icon-search-header.svg");
	background-position: left center;
	background-repeat: no-repeat;
}

.header-search-form input {
	margin: 0;
	padding: 0;
	min-height: 44px;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
	
	background: transparent;
	
	border: 2px solid transparent;
	outline: none;
}

.header-search-form input[type="search"] {
	width: 355px;
	padding-left: 32px;
	
	opacity: 0.3;
}

.header-search-form input[type="submit"] {
	visibility: hidden;
	width: 81px;
	
	color: rgba(0, 0, 0, 1);
	
	border: 2px solid #000000;
}

.header-search-form input[type="search"]:hover {
	color: rgba(0, 0, 0, 0.6);
	
	opacity: 0.6;
}

.header-search-form input[type="search"]:active,
.header-search-form input[type="search"]:focus {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #000000;
	
	color: rgba(0, 0, 0, 1);
	
	opacity: 1;
}

.header-search-form input[type="search"]:active,
.header-search-form input[type="search"]:focus ~ input[type="submit"] {
	visibility: visible;
	
	opacity: 1;
}

.header-search-form input[type="submit"]:hover,
.header-search-form input[type="submit"]:focus {
	color: rgba(255, 255, 255, 1);
	
	background-color: #000000;
}

.header-search-form input[type="submit"]:active {
	visibility: visible;
	
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #000000;
}

/* ===  верхнее меню в HEADER  === */

.header-top-panel-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 520px;
	min-height: 36px;
	padding-left: 20px;
}

.header-top-panel-navigation a {
	display: block;
	height: 36px;
}

.header-top-panel-navigation > a {
	width: 100px;
	margin-left: 20px;
	
	text-align: right;
}

.header-user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;	
	width: 260px;
	min-height: 36px;
}

.header-user-navigation .header-user-name {
	max-width: 200px;
	padding-left: 25px;

	background-image: url("../img/icon-user-header.svg");
	background-position: left center;
	background-repeat: no-repeat;
	
	overflow: hidden;
}

.header-user-navigation .header-user-logout {
	width: 45px;
	padding-left: 20px;
	
	opacity: 0.3;
}

.header-user-navigation .header-user-logout:hover,
.header-user-navigation .header-user-logout:focus {
	opacity: 1;
}

.header-user-navigation .header-user-logout:active {
	opacity: 0.6;
}

.header-user-navigation .header-user-login {
	width: 45px;
	padding-left: 25px;
	margin-left: 0;
	
	background-image: url("../img/icon-user-header.svg");
	background-position: left center;
	background-repeat: no-repeat;
}

.header-top-panel-navigation .header-compare {
	background-image: url("../img/icon-compare-header.svg");
	background-position: 5px center;
	background-repeat: no-repeat;
}

.header-top-panel-navigation .header-cart {	
	background-image: url("../img/icon-cart-header.svg");
	background-position: 15px center;
	background-repeat: no-repeat;
}

/* ===  навигация по сайту в HEADER  === */

.header-main-navigation {
	width: 1040px;
	margin: 0 auto;
}

.site-nav {
	position: relative;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.site-nav > li {
	width: 120px;
	margin-right: 30px;
}

.site-nav > li:first-child {
	width: 236px;
	margin-right: 304px;
}

.site-nav > li:nth-child(2) {
	width: 130px;	
}

.site-nav > li:last-child {
	margin-left: 70px;
	margin-right: 0;
}

.site-nav a {
	letter-spacing: 0.2em;
	color: rgba(0, 0, 0, 1);
	text-transform: uppercase;
}

.header-main-navigation span::before,
.header-main-navigation span::after {
	position: absolute;
	content: "";
	top: 10px;
	left: 230px;
	
	width: 16px;
	height: 2px;
	
	background-color: rgba(0, 0, 0, 0.3);
	
	cursor: pointer;
}

.header-main-navigation span::after {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

/* ===  выпадающее подменю  === */

.main-navigation-sub-menu {	
	position: absolute;
	top: 20px;
	left: -60px;
	z-index: 10;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;	
	-webkit-box-pack: start;	
	    -ms-flex-pack: start;	
	        justify-content: flex-start;	
	width: 1100px;
	padding-top: 25px;
	padding-left: 60px;
	visibility: hidden;
	
	background-color: #f7e296;
}

.main-navigation-sub-menu ul {
	padding-bottom: 37px;
}

.main-navigation-sub-menu a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 1);
	text-transform: none;
}

.sub-menu-column-1 li {
	margin-right: 55px;
}

.sub-menu-column-2 li {
	margin-right: 55px;
}

.site-nav li:first-child:hover .main-navigation-sub-menu {
	visibility: visible;
}

.site-nav li:first-child:focus .main-navigation-sub-menu {
	visibility: visible;
}

/* ========== section PROMO SLIDER  ========== */

.promo {
	position: relative;
	
	width: 1160px;
	padding-top: 2px;
	
	background-image: -webkit-linear-gradient(#f7e296 113px, #ffffff 113px);
	
	background-image: -o-linear-gradient(#f7e296 113px, #ffffff 113px);
	
	background-image: linear-gradient(#f7e296 113px, #ffffff 113px);
}

.promo input[type="radio"] {
	display: none;
}

.promo-slider-controls {
	position: absolute;
	bottom: 250px;
	right: 75px;
	z-index: 10;
}

.promo-slider-controls label {
	position: relative;
	
	display: inline-block;
	vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 0 8px;
	
	font-size: 0;
	
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
	
	cursor: pointer;
}

.promo-slider,
.promo-slider h2,
.promo-slider p {
	margin: 0;
	padding: 0;
}

.promo-slider {
	list-style: none;
}

.promo-slider-item {
	position: relative;
	
	display: none;
	padding-left: 600px;
	padding-bottom: 111px;
	
	background-repeat: no-repeat;
}

.promo-slider-item:nth-child(1) {
	background-image: url('../img/slider-1.png');
	background-position: 90px 0;
	background-size: 384px 486px;
}

.promo-slider-item:nth-child(2) {
	background-image: url('../img/slider-2.png');
	background-position: 115px 10px;
	background-size: 345px 485px;
}

.promo-slider-item:nth-child(3) {
	background-image: url('../img/slider-3.png');
	background-position: 25px 67px;
	background-size: 526px 334px;
}

.promo-slider-item span::before {
	content: "";
	position: absolute;
	top: 37px;
	right: 460px;
	
	width: 100px;
	height: 7px;
	
	background-color: #ffffff;
}

.promo-counter {
	position: absolute;
	top: -34px;
	right: 46px;
	z-index: 1;
	
	font-size: 180px;
	letter-spacing: 0.01em;
	color: #ffffff;
}

.promo-slider-item h2 {
	position: relative;
	z-index: 2;
	
	max-width: 560px;
	padding-top: 78px;
	margin-bottom: 16px;
	
	font-size: 47px;
	letter-spacing: 0.01em;
}

.promo-description {
	
	max-width: 560px;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #464646;
}

.promo-slider-item a {
	width: 220px;
	margin-top: 43px;
	margin-bottom: 48px;
}

.promo-slider-item table {
	text-align: left;
}

.promo-slider-item th {
	padding-top: 7px;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #464646;
	
	vertical-align: middle;
	text-align: left;
}

.promo-slider-item th:first-child {
	width: 160px;
}

.promo-slider-item th:nth-child(2) {
	width: 140px;
}

.promo-slider-item td {
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #000000;
	
	vertical-align: middle;
	text-align: left;
}

#radio-btn-1:checked ~ .promo-slider-controls label[for="radio-btn-1"]::before,
#radio-btn-2:checked ~ .promo-slider-controls label[for="radio-btn-2"]::before,
#radio-btn-3:checked ~ .promo-slider-controls label[for="radio-btn-3"]::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	
	width: 2px;
	height: 2px;
	
	background-color: inherit;
	
	border: inherit;
	border-radius: 50%;
}

#radio-btn-1:checked ~ .promo-slider .promo-slider-item:nth-child(1) {
	display: block;
}

#radio-btn-2:checked ~ .promo-slider .promo-slider-item:nth-child(2) {
	display: block;
}

#radio-btn-3:checked ~ .promo-slider .promo-slider-item:nth-child(3) {
	display: block;
}

/* ========== section CATEGORIES DEVICES  ========== */

.categories-devices {
	padding-bottom: 16px;
}

.categories {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.categories-devices a {
	text-align: left;
}

.categories-devices h3 {
	margin: 0;
	padding: 0;	
	
	font: inherit;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 1);
}

.categories-item {
	position: relative;
	
	width: 160px;
	height: 160px;
	margin-bottom: 34px;
	
	background-color: #f7e296;
}

.categories-item img {
	position: absolute;
	bottom: 50%;
	left: 50%;
	
	-webkit-transform: translate(-50%, -50%);
	
	    -ms-transform: translate(-50%, -50%);
	
	        transform: translate(-50%, 50%);
}

.categories li:nth-child(2) img {
	left: 50%;
	bottom: 2px;
	transform: translateX(-50%);
}

.categories-devices a:hover .categories-item {
	background-color: #f0c52e;
}

.categories-devices a:focus .categories-item {
	background-color: #f0c52e;
}

.categories-devices a:active .categories-item img {
	opacity: 0.3;
}

/* ========== section SERVICES  ========== */

.services {
	background-image: -webkit-linear-gradient(#ffffff 168px, #e5e5e5 168px);
	background-image: -o-linear-gradient(#ffffff 168px, #e5e5e5 168px);
	background-image: linear-gradient(#ffffff 168px, #e5e5e5 168px);
}

.services .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.services input[type="radio"] {
	display: none;
}

.services-slider-controls {
	position: relative;
	
	margin: 0;
	padding: 0;
	width: 280px;
	padding-top: 147px;
	padding-bottom: 139px;
	
	list-style: none;
}

.services-slider-controls::after {
	position: absolute;
	content: "";
	top: 224px;
	right: -160px;
	
	width: 318px;
	height: 7px;
	
	background-color: #000000;
	
	-webkit-transform: rotate(90deg);
	
	    -ms-transform: rotate(90deg);
	
	        transform: rotate(90deg);
}

.services-slider-controls li {
	display: block;
	width: 280px;
	height: 40px;
	margin: 25px 0;
}

.services-slider-controls li:first-child {
	margin-top: 0;
}

.services-slider-controls li:last-child {
	margin-bottom: 0;
}

.services-slider-controls label {
	position: relative;

	width: 160px;
}

.services-slider-controls label:hover,
.services-slider-controls label:focus {
	background-color: #f0c52e;
	background-image: none;
}

.services-slider-controls label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 160px;
	
	width: 120px;
	height: 40px;
	
	background-color: transparent;
}

.services-slider,
.services-slider h2,
.services-slider p {
	margin: 0;
	padding: 0;
}

.services-slider {
	padding-left: 120px;
	
	list-style: none;
}

.services-slider-item {
	display: none;
	width: 760px;
	padding-top: 135px;
	padding-bottom: 139px;
	
	background-repeat: no-repeat;
}

.services-slider-item:nth-child(1) {
	background-image: url("../img/service-delivery.svg");
	background-position: 558px 153px;
}

.services-slider-item:nth-child(2) {
	background-image: url("../img/service-warranty.svg");
	background-position: 558px 129px;
}

.services-slider-item:nth-child(3) {
	background-image: url("../img/service-credit.svg");
	background-position: 558px 129px;
}

.services-slider-item h2 {
	margin: 0;
	padding: 0;
	max-width: 760px;
	margin-bottom: 27px;
	
	font-size: 47px;
	letter-spacing: 0.01em;
}

.services-slider-item p {
	max-width: 460px;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #464646;
}

#radio-btn-4:checked ~ .services-slider-controls label[for="radio-btn-4"],
#radio-btn-5:checked ~ .services-slider-controls label[for="radio-btn-5"],
#radio-btn-6:checked ~ .services-slider-controls label[for="radio-btn-6"] {
	color: #f7e184;
	
	background-color: #000000;
	background-image: none;
}

#radio-btn-4:checked ~ .services-slider-controls label[for="radio-btn-4"]::after,
#radio-btn-5:checked ~ .services-slider-controls label[for="radio-btn-5"]::after,
#radio-btn-6:checked ~ .services-slider-controls label[for="radio-btn-6"]::after {
	background-color: #000000;
}

#radio-btn-4:checked ~ .services-slider .services-slider-item:nth-child(1) {
	display: block;
}

#radio-btn-5:checked ~ .services-slider .services-slider-item:nth-child(2) {
	display: block;
}

#radio-btn-6:checked ~ .services-slider .services-slider-item:nth-child(3) {
	display: block;
}

/* ========== section BRANDES  ========== */

.brandes {
	padding-top: 94px;
	padding-bottom: 94px;
}

.brandes ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;
	
	font-size: 0;
}

.brandes li {
	width: 260px;
	height: 100px;
	
	background-position: center;
	background-repeat: no-repeat;
	
	cursor: pointer;
}

.brand-1 {
	background-image: url("../img/logo-1-grey.png");	
}

.brand-1:hover,
.brand-1:focus {
	background-image: url("../img/logo-1-color.png");	
}

.brand-2 {
	background-image: url("../img/logo-2-grey.png");	
}

.brand-2:hover,
.brand-2:focus {
	background-image: url("../img/logo-2-color.png");	
}

.brand-3 {
	background-image: url("../img/logo-3-grey.png");	
}

.brand-3:hover,
.brand-3:focus {
	background-image: url("../img/logo-3-color.png");	
}

.brand-4 {
	background-image: url("../img/logo-4-grey.png");	
}

.brand-4:hover,
.brand-4:focus {
	background-image: url("../img/logo-4-color.png");	
}

/* ========== section COMPANY CONTACT  ========== */

.company-contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	padding-top: 46px;
	padding-bottom: 82px;
}

.company-contact-section {
	width: 560px;
}

.company-contact-section h2 {
	position: relative;
	
	margin: 0;
	padding: 0;
	margin-bottom: 38px;
	
	font-size: 47px;
	letter-spacing: 0.01em;
}

.company-contact-section h2:before {
	content: "";
	position: absolute;
	top: -47px;
	left: 0;
	
	width: 80px;
	height: 7px;
	
	background-color: #000000;
}

.company-contact-section p {
	margin-bottom: 30px;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
}

.about-us-left {
	max-width: 480px;
}

.company-contact-section ul {
	margin-bottom: 54px;
	padding-left: 35px;
	padding-top: 36px;
	
	font-size: 16px;
	line-height: 40px;
	
	list-style: none;
}

.company-contact-section li {
	position: relative;
}

.company-contact-section li::before {
	content: "";
	position: absolute;
	top: 16px;
	left: -35px;
	
	width: 4px;
	height: 4px;
	background-image: #ffffff;
	
	border: 2px solid #e5e5e5;
	border-radius: 50%;
}

.company-contact-button {
	width: 260px;
}

.open-map-big {
	margin: 0;
	padding: 0;
	width: 560px;
	height: 222px;
	margin-top: 10px;
	margin-bottom: 68px;
	
	border: none;
	
	background-color: #eaeaea;
	
	cursor: pointer;
}

/* ==========  FOOTER  ========== */

.main-footer {
	padding-top: 60px;
	padding-bottom: 65px;
	
	color: #ffffff;
	
	background-color: #464646;
}
.main-footer ul,
.main-footer a {
	margin: 0;
	padding: 0;
}

.main-footer ul {
	list-style: none;
}

.main-footer a {
	color: #ffffff;
}

.main-footer p {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #ffffff;
}

.footer-top-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 37px;
}

.logo-footer-container {
	position: relative;
	
	margin: 0;
	padding: 0;
	width: 163px;
	height: 36px;
}

.logo-footer {
	position: absolute;
	left: 0;
	bottom: -5px;
	
	width: 163px;
	height: 36px;
}

.footer-top-panel-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 360px;	
}

.footer-top-panel-navigation a {
	display: block;
	min-height: 36px;
	margin-left: 40px;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	color: #ffffff;
	letter-spacing: 0.01em;
	text-align: right;
	
	opacity: 0.7;
}

.footer-top-panel-navigation a:hover,
.footer-top-panel-navigation a:focus {
	opacity: 1;
}

.footer-top-panel-navigation a:active {
	opacity: 0.3;
}

.footer-top-panel-navigation .footer-user-login {
	width: 70px;
	margin-left: 0;
	
	background-image: url("../img/icon-user-footer.svg");
	background-position: left center;
	background-repeat: no-repeat;
}

.footer-top-panel-navigation .footer-compare {
	width: 95px;
	
	background-image: url("../img/icon-compare-footer.svg");
	background-position: left center;
	background-repeat: no-repeat;
}

.footer-top-panel-navigation .footer-cart {
	width: 85px;
	
	background-image: url("../img/icon-cart-footer.svg");
	background-position: left center;
	background-repeat: no-repeat;
}

.footer-middle-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 58px;
}

.footer-middle-panel p {
	width: 250px;
	margin: 0;
	padding: 0;
}

.footer-middle-panel p:last-child {
	text-align: right;
}

.footer-main-navigation ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	width: 430px;
}

.footer-main-navigation a {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.footer-bottom-panel {
	position: relative;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer-bottom-panel::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;
	
	width: 80px;
	height: 7px;
	
	background-color: #ffc600;
}

.footer-social-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	width: 142px;
	
	font-size: 0;
}

.footer-social-buttons:first-child {
	margin-left: 0;
}

.footer-social-buttons:last-child {
	margin-right: 0;
}

.footer-social-buttons a {
	display: block;
	width: 32px;
	height: 32px;
}

.social-btn-fb {
	background-image: url("../img/social-facebook.svg");
	background-position: center;
	background-repeat: no-repeat;
	
	opacity: 0.3;
	cursor: pointer;
}

.social-btn-insta {
	background-image: url("../img/social-instagram.svg");
	background-position: center;
	background-repeat: no-repeat;
	
	opacity: 0.3;
	cursor: pointer;
}

.social-btn-twtr {
	background-image: url("../img/social-twitter.svg");
	background-position: center;
	background-repeat: no-repeat;
	
	opacity: 0.3;
	cursor: pointer;
}

.footer-social-buttons a:hover,
.footer-social-buttons a:focus {
	opacity: 0.6;
}

.footer-social-buttons a:active {
	opacity: 0.1;
}

.footer-decor {
	width: 27px;
	height: 35px;
}

.logo-academy {
	display: block;
	
	width: 27px;
	height: 35px;
	
	font-size: 0;
	
	background-image: url("../img/logo-html.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.logo-academy:hover,
.logo-academy:focus {
	opacity: 0.6;
}

.logo-academy:active {
	opacity: 0.3;
}

/* ==========  модальное окно WRITE US  ========== */

.modal-write-us {
	position: fixed;
	z-index: 1;
    left: 50%;
    top: 50%;
	
	display: none;
	width: 960px;
	height: 467px;
	padding-top: 96px;
	
	background-color: #ffffff;
	
	-webkit-box-shadow: 0 20px 40px 0 rgba(4, 6, 6, 0.2);
			box-shadow: 0 20px 40px 0 rgba(4, 6, 6, 0.2);
	
	-webkit-transform: translate(-50%, -50%);
	
	    -ms-transform: translate(-50%, -50%);
	
	        transform: translate(-50%, -50%);
}

.modal-write-us p {
	margin: 0;
	padding: 0;
}

.write-us {
	width: 760px;
	margin: 0 auto;
}

.write-us label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 10px 0;
	
	line-height: 18px;
}

.write-us input,
.write-us textarea {
	padding-left: 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #464646;
	
	background-color: #f2f2f2;
	
	border: 3px solid transparent;
	outline: none;
}

.field-group {
	width: 360px;
	
 }
 
.textarea-group {
	width: 760px;	
 }

.write-us input {
	height: 50px;
}

.write-us textarea {
	height: 155px;
	margin-bottom: 40px;
	padding-top: 15px;
}

.write-us div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 760px;
	margin-bottom: 26px;
}

.write-us input:hover,
.write-us textarea:hover {
	background-color: #eaeaea;
}

.write-us input:focus,
.write-us textarea:focus {
	color: #000000;
	
	background-color: transparent;
	
	border: 3px solid #f7e296;
}

.write-us input:invalid {
	background-color: #f6dada;
}

.write-us button {
	width: 200px;
}

.modal-close {
	position: absolute;
	top: 22px;
	right: 22px;
	
	margin: 0;
	padding: 0;
	width: 55px;
	height: 55px;
	
	font-size: 0;
	line-height: 0;
	
	background-color: #f7e296;
	background-image: url("../img/modal-close.svg");
	background-position: center;
	background-repeat: no-repeat;
	
	border: none;
	border-radius: 50%;
	
	opacity: 0.5;
	cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.3;
}

/* ==========  модальное окно MAP  ========== */

.modal-map {
	position: fixed;	
	z-index: 1;
    left: 50%;
    top: 50%;
	
	display: none;
	width: 960px;
	height: 559px;
	
	font-size: 0;
	line-height: 0;
	
	background-color: #e9e9e9;
	background-image: url("../img/map-big.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
		
	-webkit-transform: translate(-50%, -50%);
		
	    -ms-transform: translate(-50%, -50%);
		
	        transform: translate(-50%, -50%);
}

.modal-map iframe {
	border: none;
}

/* ==========  страница CATALOG.HTML  ========== */

.catalog-title {
	padding-left: 60px;
	margin-bottom: 40px;
}

.page-title {
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	padding-top: 32px;
	
	font-size: 47px;
	letter-spacing: 0.01em;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;
	
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 36px;
	font-weight: 300;
	color: #000000;
	letter-spacing: 0.01em;
	
	list-style: none;
}

.breadcrumbs a {
	margin-right: 16px;
	
	color: #000000;
	
	opacity: 0.3;
}

.breadcrumbs-current {
	opacity: 0.3;
}

.breadcrumbs span {
	display: block;
	width: 4px;
	height: 7px;
	margin-right: 16px;
	
	background-image: url("../img/nav-arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	opacity: 0.6;
}

.breadcrumbs a:active {
	opacity: 0.1;
}

/* ==========  MAIN страницы CATALOG.HTML  ========== */

.catalog-decor-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 70px;
	
	background-image: -webkit-gradient(linear, left top, right top, color-stop(28%, #dbdbdb), color-stop(28%, #ebebeb));
	
	background-image: -webkit-linear-gradient(left, #dbdbdb 28%, #ebebeb 28%);
	
	background-image: -o-linear-gradient(left, #dbdbdb 28%, #ebebeb 28%);
	
	background-image: linear-gradient(to right, #dbdbdb 28%, #ebebeb 28%);
}

.catalog-decor-header-filter {
	min-width: 268px;
	height: 70px;
	padding-left: 60px;
	
	font-size: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	line-height: 70px;/* в макете этот параметр не указан. задал его по высоте блока, т.к. иначе строчка не центрируется */
	
	background-color: #dbdbdb;
}

.catalog-decor-header-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;
	padding-left: 72px;
	width: 760px;
}

.catalog-decor-header-sorting p {
	margin: 0;
	padding: 0;
	margin-right: 52px;
	
	font-size: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

/* ===  сортировка  === */

.catalog-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
	margin: 0;
	padding: 0;
	width: 500px;
	
	list-style: none;
}

.catalog-sorting-direct {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
	margin: 0;
	padding: 0;
	width: 60px;
	
	list-style: none;
}

.catalog-sorting a,
.catalog-sorting-direct a {
	margin-right: 28px;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	
	opacity: 0.3;
}

.catalog-sorting li:last-child a,
.catalog-sorting-direct li:last-child a {
	margin-right: 0;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus,
.catalog-sorting-direct a:hover,
.catalog-sorting-direct a:focus {
	opacity: 0.6;
}

.catalog-sorting a:active,
.catalog-sorting-direct a:active {
	opacity: 1;
}

.catalog-sorting .page-current,
.catalog-sorting-direct .page-current {
	color: #000000;
	
	opacity: 1;
}

.catalog-sorting-direct .arrow-up,
.catalog-sorting-direct .arrow-down {
	position: relative;
	
	font-size: 0;
}

.catalog-sorting-direct .arrow-up::after {
	content: "";
	position: absolute;
	top: -7px;
	right: 0;
	
	width: 11px;
	height: 10px;
	
	background-image: url("../img/icon-up-dir.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.catalog-sorting-direct .arrow-down::after {
	content: "";
	position: absolute;
	top: -7px;
	right: 0;
	
	width: 11px;
	height: 10px;
	
	background-image: url("../img/icon-down-dir.svg");
	background-position: center;
	background-repeat: no-repeat;
}

/* ===  раздел с фильтром и ассортиментом товаров  === */

.choice-of-devices {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
	background-image: -webkit-gradient(linear, left top, right top, color-stop(28%, #eeeeee), color-stop(28%, #ffffff));
	
	background-image: -webkit-linear-gradient(left, #eeeeee 28%, #ffffff 28%);
	
	background-image: -o-linear-gradient(left, #eeeeee 28%, #ffffff 28%);
	
	background-image: linear-gradient(to right, #eeeeee 28%, #ffffff 28%);
}

.filters {
	min-width: 328px;
	padding-top: 82px;
	
	background-color: #efefef;
}

/* ===  форма-фильтр выбора по параметрам  === */

.catalog-filter-form {
	width: 200px;
	padding-left: 60px;
	
}

.catalog-filter-form fieldset {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	
	border: none;
}

.catalog-filter-form fieldset:nth-child(2) {
	margin-bottom: 45px;
}

.catalog-filter-form fieldset:nth-child(3) {
	margin-bottom: 32px;
}

.catalog-filter-form legend {
	margin: 0;
	padding: 0;
	
	letter-spacing: 0.01em;
}

.catalog-filter-form ul {
	margin: 0;
	padding: 0;
	padding-top: 18px;
	
	list-style: none;
}

.catalog-filter-form legend {
	position: relative;
}

.catalog-filter-form legend::before {
	content: "";
	position: absolute;
	top: -13px;
	left: 0;
	
	width: 200px;
	height: 2px;
	
	background-color: #000000;
}

.catalog-filter-price {
	margin-bottom: 8px;
}

.catalog-filter-price-range {
	position: relative;
	
	height: 10px;
	padding-top: 36px;
}

.price-range-scale {
	height: 2px;
	
	background-color: #dbdbdb;
}

.price-range-bar {
	width: 57%;
	height: 2px;
	
	background-color: #91c92f;
}

.catalog-filter-price-range .toggle {
	position: absolute;
	top: 26px;
	
	width: 4px;
	height: 4px;
	
	background-color: #ababab;
	
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 #dadada;
	        box-shadow: 0 2px 1px 0 #dadada;
	
	cursor: pointer;
}

.catalog-filter-price-range .toggle:active {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.toggle-min {
	left: -6px;
}

.toggle-max {
	left: 107px;
}

.catalog-filter-price-display {
	font-size: 0;
}

.catalog-filter-price-display label {
	display: inline-block;
	width: 85px;
	
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.2);
}

.catalog-filter-price-display input {
	width: 60px;
	
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.2);
	
	background-color: transparent;
	
	border: none;
}

.catalog-filter-btn {
	width: 200px;
}

.filter-option {
	position: relative;
}

.filter-option label {
	padding-left: 38px;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 300;
	color: #000000;
	letter-spacing: 0.01em;
	
	cursor: pointer;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
	
	opacity: 0.6;
}

.filter-input:active + label,
.filter-input:checked:active + label {
	color: #000000;
	
	opacity: 1;
}

.filter-input:checked:hover + label,
.filter-input:checked:focus + label {
	color: #000000;
	
	opacity: 0.6;
}

.filter-input:disabled + label {
	color: #000000;
	
	opacity: 0.25;
}

.checkbox-indicator {
	position: absolute;
	top: 50%;
	left: -2px;
	
	display: block;
	width: 23px;
	height: 23px;
	
	background-image: url("../img/checkbox-off.svg");
	background-position: center;
	background-repeat: no-repeat;
	
	-webkit-transform: translateY(-50%);
	
	    -ms-transform: translateY(-50%);
	
	        transform: translateY(-50%);
	
	cursor: pointer;
}

.filter-input:checked + label .checkbox-indicator {
	width: 27px;
	height: 23px;
	
	background-image: url("../img/checkbox-on.svg");
}

.radio-indicator {
	position: absolute;
	top: 50%;
	left: -2px;
	
	display: block;
	width: 25px;
	height: 25px;
	
	background-image: url("../img/radio-off.svg");
	background-position: center;
	background-repeat: no-repeat;
	
	-webkit-transform: translateY(-50%);
	
	    -ms-transform: translateY(-50%);
	
	        transform: translateY(-50%);
	
	cursor: pointer;
}

.filter-input:checked + label .radio-indicator {
	background-image: url("../img/radio-on.svg");
}

/* ==========  section CATALOG  ========== */

.catalog {
	padding-left: 72px;
	padding-top: 69px;
	padding-bottom: 78px;
}

.container-catalog {
	margin: 0 auto;
	
	width:760px;
}

/* ===  каталог товаров  === */

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
	margin: 0;
	padding: 0;
	width: 760px;
	
	list-style: none;
}

.catalog-list h3,
.catalog-list p {
	margin: 0;
	padding: 0;
	
	font-size: 0;
	line-height: 0;
}

.catalog-item-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	
	width: 360px;
}

.catalog-list .catalog-item-name {
	font-size: 18px;
	line-height: normal;
	color: #000000;
	letter-spacing: 0.01em;
}

.catalog-list .catalog-item-price {
	font-size: 16px;
	line-height: normal;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #464646;
}

.catalog-item {
	margin-right: 40px;
	margin-bottom: 50px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-item:last-child,
.catalog-item:nth-last-child(2) {
	margin-bottom: 37px;
}

.catalog-item ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.catalog-item-image {
	position: relative;
	
	margin: 0;
	padding: 0;
	width: 360px;
	height: 380px;
	margin-bottom: 33px;
	
	text-align: center;
	
	cursor: pointer;
}

.catalog-item-image img {
	background-color: #eeeeee;
}

.buy-in-cart {
	width: 200px;
	margin-bottom: 10px;
}

.add-compare {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 36px;
	font-weight: 300;
	color: #000000;
	
	opacity: 0.5;
}

.add-compare:hover,
.add-compare:focus {
	opacity: 1;
}

.add-compare:active {
	opacity: 0.2;
}

.catalog-list .new-item {
	position: absolute;
	top: 28px;
	right: 26px;
	z-index: 10;
	
	width: 60px;
	height: 60px;
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	line-height: 60px;/* в макете этот параметр не указан. задал его по высоте блока, т.к. иначе строчка не центрируется */
	
	color: rgba(0, 0, 0, 0.2);
	
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}

.new-item-invisible {
	display: none;
}

.new-item-visible {
	display: block;
}

.catalog-item-choice {
	position: absolute;
	top: 50%;
	left: 50%;
	
	margin: 0;
	padding: 0;
	
	visibility: hidden;
}

.catalog-item-image:hover .catalog-item-choice {
	z-index: 10;
	
	visibility: visible;
	
	-webkit-transform: translate(-50%, -50%);
	
	    -ms-transform: translate(-50%, -50%);
	
	        transform: translate(-50%, -50%);
}

.catalog-item-image:focus .catalog-item-choice {
	z-index: 10;
	
	visibility: visible;
	
	-webkit-transform: translate(-50%, -50%);
	
	    -ms-transform: translate(-50%, -50%);
	
	        transform: translate(-50%, -50%);
}

.catalog-item-image:hover img {
	opacity: 0.7;
}


/* ===  пагинация  === */

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 760px;
	min-height: 70px;
	margin: 0;
	padding: 0;
	
	background-color: #ebebeb;
	
	list-style: none;
}

.page-number a {
	font-size: 16px;
	letter-spacing: 0.2em;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

.pagination-list .page-current a {
	color: rgba(0, 0, 0, 1);
}

.page-number a:hover,
.page-number a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.page-number a:active {
	color: rgba(0, 0, 0, 1);
}

.back-forward a {
	display: block;
	width: 126px;
	height: 70px;
	
	font-size: 16px;
	letter-spacing: 0.2em;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
	text-align: center;
	line-height: 70px;/* в макете этот параметр не указан. задал его по высоте блока, т.к. иначе строчка не центрируется */
}

.back-forward a:hover,
.back-forward a:focus {
	color: rgba(0, 0, 0, 1);
	
	background-color: #d9d9d9;
}

.back-forward a:active {
	color: rgba(0, 0, 0, 0.3);
	
	background-color: #d9d9d9;
}

.pagination-list li:first-child {
	margin-right: 190px;
}

.pagination-list li:last-child {
	margin-left: 190px;
}